@keyframes hero-gradient-animation {
    0% {
        --c-0: hsla(274, 94%, 91%, 0.5);
        --x-0: 67%;
        --y-0: 49%;
        --s-start-0: 20%;
        --s-end-0: 51%;
        --c-1: hsla(352, 87%, 100%, 0.5);
        --x-1: 24%;
        --y-1: 82%;
        --s-start-1: 20%;
        --s-end-1: 51%;
        --c-2: hsla(17, 55%, 64%, 0.3);
        --x-2: 88%;
        --y-2: 55%;
        --s-start-2: 20%;
        --s-end-2: 51%;
        --c-3: hsla(225, 74%, 72%, 0.5);
        --x-3: 85%;
        --y-3: 82%;
        --s-start-3: 20%;
        --s-end-3: 51%;
        --c-4: hsla(29, 60%, 93%, 0.5);
        --x-4: 80%;
        --y-4: 65%;
        --s-start-4: 20%;
        --s-end-4: 51%;
    }

    100% {
        --c-0: hsla(232, 51%, 97%, 0.5);
        --x-0: 22%;
        --y-0: 1%;
        --s-start-0: 20%;
        --s-end-0: 51%;
        --c-1: hsla(256, 57%, 97%, 0.5);
        --x-1: 18%;
        --y-1: 15%;
        --s-start-1: 20%;
        --s-end-1: 51%;
        --c-2: hsla(24, 75%, 89%, 0.5);
        --x-2: 48%;
        --y-2: 53%;
        --s-start-2: 20%;
        --s-end-2: 51%;
        --c-3: hsla(305, 53%, 91%, 0.5);
        --x-3: 5%;
        --y-3: 48%;
        --s-start-3: 20%;
        --s-end-3: 51%;
        --c-4: hsla(192, 62%, 90%, 0.5);
        --x-4: 89%;
        --y-4: 60%;
        --s-start-4: 20%;
        --s-end-4: 51%;
    }
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(274, 94%, 91%, 0.5)
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 67%
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 49%
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 20%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 51%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(352, 87%, 100%, 0.5)
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 24%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 82%
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 20%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 51%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(278, 55%, 64%, 0.5)
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 88%
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 55%
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 20%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 51%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(225, 74%, 72%, 0.5)
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 85%
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 82%
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 20%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 51%
}

@property --c-4 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(314, 58%, 93%, 0.5)
}

@property --x-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 80%
}

@property --y-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 65%
}

@property --s-start-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 20%
}

@property --s-end-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 51%
}

body {
    --c-0: hsla(274, 94%, 91%, 0.05);
    --x-0: 67%;
    --y-0: 49%;
    --c-1: hsla(352, 87%, 100%, 0.05);
    --x-1: 24%;
    --y-1: 82%;
    --c-2: hsla(278, 55%, 64%, 0.05);
    --x-2: 88%;
    --y-2: 55%;
    --c-3: hsla(225, 74%, 72%, 0.05);
    --x-3: 85%;
    --y-3: 82%;
    --c-4: hsla(314, 58%, 93%, 0.05);
    --x-4: 80%;
    --y-4: 65%;
    ;
    background-color: hsla(292, 82%, 81%, 0.05);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
    animation: hero-gradient-animation 10s linear infinite alternate-reverse;
    background-blend-mode: normal, normal, normal, normal, normal;
}